In [8]:
import os
import glob
import pandas as pd
import csv
import time
import pprint
from datetime import datetime, timedelta

Setting up the working directory

In [9]:
os.getcwd()

'/Users/jobyaugustine/Desktop/Assignments/MyAssignmentRepos/Tableau_Challenge'

In [10]:
# os.chdir("/Users/jobyaugustine/Desktop/Assignments/MyAssignmentRepos/Tableau_Challenge")

Use glob to match the pattern ‘csv’

In [11]:
# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [13]:
#combine all files in the list
df = pd.concat([pd.read_csv(f) for f in glob.glob('Resources/JC*.csv')], ignore_index = True)

Combine all files in the list and export as CSV

In [14]:
#combine all files in the list
# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
# combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470483 entries, 0 to 470482
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             470483 non-null  object
 1   rideable_type       470483 non-null  object
 2   started_at          470483 non-null  object
 3   ended_at            470483 non-null  object
 4   start_station_name  470483 non-null  object
 5   start_station_id    470483 non-null  object
 6   end_station_name    467611 non-null  object
 7   end_station_id      467611 non-null  object
 8   start_lat           470483 non-null  float64
 9   start_lng           470483 non-null  float64
 10  end_lat             468826 non-null  float64
 11  end_lng             468826 non-null  float64
 12  member_casual       470483 non-null  object
dtypes: float64(4), object(9)
memory usage: 46.7+ MB

In [16]:
print(df.isnull())

        ride_id  rideable_type  started_at  ended_at  start_station_name  \
0         False          False       False     False               False
1         False          False       False     False               False
2         False          False       False     False               False
3         False          False       False     False               False
4         False          False       False     False               False
...         ...            ...         ...       ...                 ...
470478    False          False       False     False               False
470479    False          False       False     False               False
470480    False          False       False     False               False
470481    False          False       False     False               False
470482    False          False       False     False               False

        start_station_id  end_station_name  end_station_id  start_lat  \
0                  False             False           False      False
1                  False             False           False      False
2                  False             False           False      False
3                  False             False           False      False
4                  False             False           False      False
...                  ...               ...             ...        ...
470478             False             False           False      False
470479             False             False           False      False
470480             False             False           False      False
470481             False             False           False      False
470482             False             False           False      False

        start_lng  end_lat  end_lng  member_casual
0           False    False    False          False
1           False    False    False          False
2           False    False    False          False
3           False    False    False          False
4           False    False    False          False
...           ...      ...      ...            ...
470478      False    False    False          False
470479      False    False    False          False
470480      False    False    False          False
470481      False    False    False          False
470482      False    False    False          False

[470483 rows x 13 columns]

In [17]:
# converting the df to csv 
df.to_csv("citi_bike_sixmonths.csv", index=False)